@import "tailwindcss";

@theme {
  --font-sans: var(--font-roboto);

  --color-primary: #315748;
  --color-secondary: #EFD8B6;
  --color-beige-light: #CFC1A5;
  --color-gold: #B99662;
  --color-green-light: #AAD6C5;
  --color-green-medium: #799B8D;
  --color-white: #FFFFFF;

  /* Global content container width */
  --max-width-content: 1240px;

  /* Custom breakpoint */
  --breakpoint-xs: 500px;
}

:root {
  --background: #FFFFFF;
  --foreground: #315748;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

html {
  scroll-behavior: smooth;
}
